@using SPG_Fachtheorie.Aufgabe2.Dtos
@using SPG_Fachtheorie.Aufgabe2.Model;

@model List<CustomerDto>

<div>
    <h1 class="h3">Klausurprüfung aus Fachtheorie</h1>
    <p>Bitte füllen Sie diese Daten in der Datei <em>SPG_Fachtheorie.Aufgabe3.RazorPages/Pages/Index.cshtml</em> am Beginn Ihrer Arbeit aus.</p>
    <table class="table table-sm mb-5 border border-primary">
        <tr>
            <th style="width:10em">Maturaaccount</th>
            <td style="width:30em">(Bitte ausfüllen)</td>
        </tr>
        <tr>
            <th>Vorname</th>
            <td>(Bitte ausfüllen)</td>
        </tr>
        <tr>
            <th>Zuname</th>
            <td>(Bitte ausfüllen)</td>
        </tr>
        <tr>
            <th>Klasse</th>
            <td>(Bitte ausfüllen)</td>
        </tr>
    </table>

    <hr />

    <h3>Diese Liste dient nur zu Testzwecken, ob die DB-Verbindung klappt:</h3>

    <table class="table table-striped">
        @foreach(CustomerDto item in Model)
        {
        <tr>
            <td>@item.Firstname</td>
            <td>@item.Lastname</td>
        </tr>
        }
    </table>
</div>
